{% extends "dashboard/base.html" %}
{% load static icon codeformat %}
{% block content %}
    <div class="shadow sm:rounded-md sm:overflow-hidden bg-white mb-12">
        <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Logs
            </h3>
        </div>

        <div class="bg-white shadow overflow-hidden sm:rounded-md">
            <ul class="divide-y divide-gray-200">
                {% for log in logs %}
                    <li>
                            <div class="px-4 py-4 sm:px-6">
                                <div class="flex items-center justify-between">
                                    <p class="text-sm font-medium text-pc-600 truncate">
                                        url
                                    </p>
                                    <div class="ml-2 flex-shrink-0 flex">
                                        <p class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                            {{ log.method }} - HTTP {{ log.status }}
                                        </p>
                                    </div>
                                </div>

                                <div class="mt-2 sm:flex sm:justify-between">
                                    <div class="sm:flex">
                                        <p class="flex items-center text-sm text-gray-500">
                                            {% icon "user" "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" "hs" %}
                                            {{ log.ip }}
                                        </p>
                                        <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 sm:ml-6">
                                            {% icon "location-marker" "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" "hs" %}
                                            Remote
                                        </p>
                                    </div>
                                    <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                                        {% icon "calendar" "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" "hs" %}
                                        <p>
                                            {{ log.created_at|date:"Y-m-d H:i:s" }}
                                        </p>
                                    </div>
                                </div>

                                <div>
                                    <div class="text-lg text-gray-500 mt-4">Request</div>

                                    <div class="text-lg text-gray-500 mt-4">Response</div>
                                    <div class="bg-gray-100 text-xs sm:text-sm w-full p-4 overflow-auto">
                                        {% codeformat log.response_data "json" %}
                                    </div>
                                </div>
                            </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
